body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
h1, h2, h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #333;
}

p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #555;
}

ul {
  margin-left: 20px;
}

body {
  background: url('assets/backgroundduo.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.login-container {
	width: 100%;
  background: #fff;
  max-width: 400px;
	margin-left: auto;
	margin-right: auto;
  padding: 40px 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 50px;
}

.portal-title {
  text-align: right;
  margin-bottom: 3px;
}

.portal-title span:first-child {
  font-size: 20px;
  font-weight: bold;
  color: #ffc301;
}

.portal-title span:last-child {
  display: block;
  font-size: 36px;
  color: #525252;
}

.divider {
  height: 2px;
  background: #525252;
  margin: 20px 0;
}

.welcome-message {
  font-size: 24px;
  font-weight: 600;
  color: #525252;
}

.input-group > input {
  width: 80%;
  margin: 10px auto;
  padding: 10px 15px;
  border-radius: 16px;
  border: 2px solid #000;
  background: #f0edff;
  font-size: 18px;
}

.input-group > input::placeholder {
  color: #ddd;
  text-align: center;
}

.login-button {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: none;
  border-radius: 16px;
  background: linear-gradient(to right, #ffc301, #ffb601);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.login-button:hover {
 color: #000;
 opacity: 0.5;
 transition: 0.3s;
 -webkit-transition: 0.3s;
 -moz-transition: 0.3s;
 -ms-transition: 0.3s;
 -o-transition: 0.3s;
}

.forgot-password {
  display: block;
  color: #525252;
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.forgot-password:hover {
  transition: 0.3s;
  text-decoration: underline;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.modal {
  top: 0;
  left: 0;
  width: 98%;
  height: 100%;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
	background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-out;
}

.terms-modal {
  width: 50%;
  height: 60%;
  padding: 20px;
  max-width: 600px;
  overflow-y: auto;
  position: relative;
  border-radius: 10px;
  background-color: white;
  transition: opacity 0.3s ease-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close {
  top: 15px;
  right: 15px;
  color: #000;
  border: none;
  width: 30px;
  height: 30px;
	padding: 10px;
  display: flex;
	cursor: pointer;
  font-size: 20px;
	font-weight: bold;
  position: absolute;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #e74c3c;
}

.close:hover {
  color: #c0392b;
}

.modal-content {
  width: 70%;
  z-index: 1;
  padding: 30px;
  background: #fff;
  max-width: 500px;
  text-align: center;
  border-radius: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.highlight {
  color: #0055a3;
  font-weight: bold;
}

.button-group button {
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}
.button-group button:hover {
 opacity: 0.5;
 color: #000;
}

.accept {
  color: #fff;
	font-weight: bold;
  background-color: #28a745;
}

.accept:hover {
  background-color: #218838;
}

.reject {
  color: #fff;
	font-weight: bold;
  background-color: #dc3545;
}

.reject:hover {
  background-color: #c82333;
}

.terms-link {
  display: block;
  margin-top: 20px;
  color: #000;
  text-decoration: none;
}

.terms-modal {
  text-align: center;
  padding: 20px;
  transition: opacity 0.3s ease-out;
}

.terms-modal .close {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.button-container {
  padding: 10px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.translate-button {
  top: 30px;
  right: 40px;
  border: none;
	padding: 6px;
  z-index: 1000;
  display: flex;
  cursor: pointer;
  position: fixed;
	border-radius: 32px;
  align-items: center;
  justify-content: center;
  background-color: #0055a3;
  -o-border-radius: 16px;
  -ms-border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}

.translate-button img {
  width: 80px;
  height: auto;
}
.translate-button:hover {
  opacity: 0.9;
  height: auto;
  transition: 0.3s;
  background: #0055a3;
  border-radius: 36px;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-border-radius: 36px;
  -ms-border-radius: 36px;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
}
.button-text {
	color: #fff;
	padding: 3px; 
	font-size: 16px;
  font-weight: bold;
  align-self: center;
  justify-content: center;
}

.logo-and-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #525252;
}

.logo {
  display: flex;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 3px;
	text-align: center;
  align-items: center;
}

.logo img {
  width: 50px;
}

.unisab-text { 
  font-size: 40px;
  font-weight: bold;
  color: #525252;
  margin-left: 8px;
}

.divider-vertical {
  height: 40px;
  width: 1px;
  background: #525252;
  margin-left: -12px;
}

.portal-title {
  text-align: center;
  margin-right: 20px;
}

.portal-title span:first-child {
  font-size: 20px;
  font-weight: bold;
  color: #ffc301;
}

.portal-title span:last-child {
  display: block;
  font-size: 36px;
  font-weight: bold;
  color: #ffc301;
}

.input-group {
  margin: 20px 0;
}

.input-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 20px;
}

.input-wrapper input {
  width: 80%;
  padding: 10px 15px 10px 45px;
  border-radius: 16px;
  border: 1px solid #ccc;
  background: #f0edff;
  font-size: 18px;
}

.input-wrapper input::placeholder {
  color: #1c1c1c;
  text-align: left;
}

@media (max-width: 768px) {
  .login-container {
    width: 70%;
  }

  .modal-content {
    width: 70%;
    transition: opacity 0.3s ease-out;
  }
}
